* {
    border-radius: 0 !important;
}

.navbar {
    background: #e9ebee;
}

.sidebar {
    padding-top: 15px;
    background: #f9f9f9;
}

.container {
    padding-bottom: 40px;
}

.fix-footer-overlay {
    z-index: 2;
}

.content {
    border-left: solid 1px #eee;
    border-right: solid 1px #eee;
    background: #fefefe;

    margin-bottom: 10px;
}

.bordered {
    border: solid 1px #eee !important;
}

.form-control-sized {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
}

.entry-box {
    min-height: 25px;
    margin: 12px 5px;
}

.stretch {
    padding-bottom: 9999px;
    margin-bottom: -9999px;
}

.ovf-hidden {
    overflow: hidden;
}


#footer-image {
    position: fixed;
    bottom: -10px;
    width: 76%;
    margin-left: 12%;

    opacity: 0.45;

    z-index: 1;
}

.badge {
    background: #17c4bf;
}

.nav > li, .nav >  a, .btn {
	background-color: #04b3ae !important;
	color: white !important;
}

.nav > li > a:hover, .nav > li > a:hover, .navbar > li > a:hover, .btn:hover {
    background-color: #21cec9 !important;
    color: white !important;
}

.nav {
	background-color: #e2e8e9;
}

.nav > li > a, .nav > li > a.btn, .navbar .navbar-nav > li > a {
    color: white;
}

#message {
	position: fixed;
    width: 33%;
    bottom: 10px;
    left: 33%;
    z-index: 2;
    text-align: center;
}

